html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
}

nav {
  background: steelblue;
  overflow: hidden;
  height: 50px;
  box-shadow: 0px 5px 15px steelblue;
}

hr {
  width: 75%
}

.content ul {
  text-align: center;
  color: black;
}

.name {
  color: white;
  font-size: 40px;
  text-decoration: underline;
  margin-top: 5px;
}

.bio {
  font-size: 20px;
  text-align: center;
  color: black;
  padding-top: 5px;
  margin-left: 150px;
  margin-right: 150px;
}

.headshot {
  display: block;
  height: 400px;
  width: 533px;
  margin: 0 auto;
  margin-top: 10px;
  align-content: center;
  box-shadow: 5px 5px 15px gray;
}

.content {
  margin-bottom: -16px;
}

.footer {
  height: 50px;
  width: 100%;
  background: steelblue;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: underline;
  padding-top: 10px;
  box-shadow: 0px -5px 15px steelblue;
}

.past {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}

.pastProject {
  height: 200px;
  width: 200px;
}

.contact {
  margin-left: 33%;
  margin-right: 33%;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}

.email-form {
  padding-left: 35%;
}

.input {
  width: 350px;
}

@media screen and (max-width: 980px) {
  .headshot {
    height: 225px;
    width: 300px;
  }

  .pastProject {
    height: 150px;
    width: 150px;
    margin-left: 15%;
  }
}

@media screen and (max-width: 768px) {
  .headshot {
    height: 150px;
    width: 200px;
  }

  .pastProject {
    height: 100px;
    width: 100px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 640px) {
  .headshot {
    height: 75px;
    width: 100px;
  }

  .pastProject {
    height: 50px;
    width: 50px;
    margin-left: 5%;
  }
}