html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
}

nav {
  background: blue;
  overflow: hidden;
  height: 50px;
}

.name {
  color: white;
  font-size: 40px;
  text-decoration: underline;
  margin-top: 5px;
}

#pixie {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bio {
  font-size: 20px;
  text-align: center;
  color: black;
  padding-top: 5px;
}

.headshot {
  display: block;
  height: 300px;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  align-content: center;
}

.content {
  flex: 1 0 auto;
  margin-bottom: -16px;
}

.footer {
  height: 50px;
  width: 100%;
  background: blue;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: underline;
  padding-top: 10px;
}

ul {
  text-align: center;
  color: black;
}

.past {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}

.pastProject {
  height: 200px;
  width: 200px;
}

.contact {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}

.linkage {
  color: black;
}

@media screen and (max-width: 980px) {
  .headshot {
    height: 225px;
    width: 300px;
  }

  .pastProject {
    height: 150px;
    width: 150px;
    margin-left: 15%;
  }
}

@media screen and (max-width: 768px) {
  .headshot {
    height: 150px;
    width: 200px;
  }

  .pastProject {
    height: 100px;
    width: 100px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 640px) {
  .headshot {
    height: 75px;
    width: 100px;
  }

  .pastProject {
    height: 50px;
    width: 50px;
    margin-left: 5%;
  }
}